<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huizu.system.mapper.SysIdeaMapper">

    <resultMap type="SysIdea" id="SysIdeaResult">
        <result property="id"    column="id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="type"    column="type"    />
        <result property="images"    column="images"    />
        <result property="phone"    column="phone"    />
        <result property="email"    column="email"    />
        <result property="content"    column="content"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectSysIdeaVo">
        select a.id, a.customer_id, a.type, a.images, a.phone, a.email, a.content, a.status, a.create_by, a.create_time, a.update_by, a.update_time, a.remark, a.del_flag
        from sys_idea a
    </sql>

    <select id="selectSysIdeaList" parameterType="SysIdea" resultMap="SysIdeaResult">
        <include refid="selectSysIdeaVo"/>
        <where>
            <if test="customerId != null "> and a.customer_id = #{customerId}</if>
            <if test="type != null  and type != ''"> and a.type = #{type}</if>
            <if test="images != null  and images != ''"> and a.images = #{images}</if>
            <if test="phone != null  and phone != ''"> and a.phone = #{phone}</if>
            <if test="email != null  and email != ''"> and a.email = #{email}</if>
            <if test="content != null  and content != ''"> and a.content = #{content}</if>
            <if test="status != null "> and a.status = #{status}</if>
            and a.del_flag != '1'
        </where>
    </select>

    <select id="selectSysIdeaById" parameterType="Integer" resultMap="SysIdeaResult">
        <include refid="selectSysIdeaVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertSysIdea" parameterType="SysIdea" useGeneratedKeys="true" keyProperty="id">
        insert into sys_idea
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerId != null">customer_id,</if>
            <if test="type != null">type,</if>
            <if test="images != null">images,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
            <if test="content != null">content,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerId != null">#{customerId},</if>
            <if test="type != null">#{type},</if>
            <if test="images != null">#{images},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
            <if test="content != null">#{content},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateSysIdea" parameterType="SysIdea">
        update sys_idea
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="images != null">images = #{images},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="content != null">content = #{content},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysIdeaById" parameterType="Integer">
        update sys_idea set del_flag = '1' where id = #{id}
    </delete>

    <delete id="deleteSysIdeaByIds" parameterType="String">
        update sys_idea set del_flag = '1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
